# Cualquiera de los siguientes datos puede variar segun el caso.
# Los valores por defecto son los mas comunes.
# Loss valores que no están son datos sensibles.

#backend port
PORT=8080

#pg-admin credentials ( necesarias para acceder a la interfaz del pg-admin)
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

#postgres DB ( USER y PASSWORD necesarias para acceder a la db desde una terminal o cliente)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=db_name_example
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public